---
interface Props {
  title?: string;
  lines?: string[];
}

const { title, lines } = Astro.props;
---

<h1 class="hero-title">
  {
    lines
      ? lines.map((line) => <span class="hero-title__line">{line}</span>)
      : title
  }
</h1>
